<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.HouseMapper">
     <select id="findUserById" parameterType="int" resultType="com.pojo.House">
           SELECT * FROM t_room_cat WHERE id=#{value}
     </select>
     
     <select id="AllHouse"  resultType="com.pojo.House">
     	select * from t_room_cat
     </select>
     <resultMap id="noticeMap" type="com.pojo.Notice">
		<id column="id" jdbcType="INTEGER" property="id"/>
		<result column="content" jdbcType="VARCHAR" property="content"/>
		<result column="createTime" jdbcType="VARCHAR" property="creattime"/>
		<result column="user_id" jdbcType="INTEGER" property="user_id"/>
     </resultMap>
     
      <select id="AllNotice"  resultMap="noticeMap">
     	select * from t_suggest
     </select>
     
</mapper>